name: Latest Blog Posts from ArsenTech
on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
        with:
          ref: main
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "BLOG-POSTS"
          feed_list: "https://arsentech-blog.vercel.app/rss.xml"
          commit_message: "Updated README with latest blog posts"
