name: Generate Project List

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build-list:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Generate Portfolio stats
        uses: ArsenTech/creations-stats-workflow@v1.0.1
        with:
          github-username: ArsenTech
          exclusions: ArsenTech,source-codes
          commit-message: "[AUTOMATED-CHANGE]: Updated Portfolio stats"
